.row{
    margin-left: 20px;
    color:#FFFF;
}
.row_posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;

}    
.row_posters::-webkit-scrollbar{
    display: none;

}
.row_poster{
     /* position: relative;
    display: flex */
    width: 100%;
    object-fit: contain;
    margin-right: 12px;
    max-height: 150px;
    transition: transform 650ms;
}


.row_poster:hover
{
    transform: scale(1.1);
    /* opacity: 1; */
}

 .row_poster:hover{
     transform: scale(1.08);

 }

 .row_posterlarge{
     max-height: 250x;

 }


.row_posterlarge:hover{
   transform: scale(1.2);
}












/* .content{
    display: none;
}

..row_poster:hover.text{
    
    height: 0;
    opacity: 1;
    transition-delay: 0s;
    transition-duration: 0.4s;
} */